<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.web.mapper.RentalMapper">
 	<select id="rentalListData" resultType="com.sist.web.vo.RentalVO" parameterType="hashmap">
		SELECT no, name, price, salestatus, imageurl, imagecount, category, address, trades, TO_CHAR(describedat, 'yyyy-mm-dd' )as dbday, days 
		FROM rental 
		WHERE user_no NOT IN (SELECT blocked_user FROM block_list WHERE blocking_user = #{user_no}) 
		<choose>
			<when test="type == 1">
				ORDER BY describedat DESC		
			</when>
			<when test="type == 2">
				ORDER BY describedat ASC				
			</when>
			<when test="type == 3">
				ORDER BY price DESC	
			</when>
			<when test="type == 4">
				ORDER BY price ASC		
			</when>
			<otherwise>
        		ORDER BY describedat DESC
    		</otherwise>
		</choose>
		OFFSET #{start} ROWS FETCH NEXT 20 ROWS ONLY
	</select>
 </mapper>