<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.web.mapper.ReportMapper">
 	<insert id="reportUserInsert">
 	INSERT INTO report 
 	(no,reporter,
 	<if test="subject!=null">
 	subject,
 	</if>
 	<if test="subphone!=null">
 	subphone,
 	</if>
 	<if test="subaccount!=null">
 	subaccount,
 	</if>
 	msg,
 	<if test="image1!=null">
 	image1,
 	</if>
 	<if test="image2!=null">
 	image2,
 	</if>
 	<if test="image3!=null">
 	image3,
 	</if>
 	reporttype,title)
 	VALUES(report_no_seq.nextval,#{reporter},
 	<if test="subject!=null">
 	#{subject},
 	</if>
 	<if test="subphone!=null">
 	#{subphone},
 	</if>
 	<if test="subaccount!=null">
 	#{subaccount},
 	</if>
 	#{msg},
 	<if test="image1!=null">
 	#{image1},
 	</if>
 	<if test="image2!=null">
 	#{image2},
 	</if>
 	<if test="image3!=null">
 	#{image3},
 	</if>
 	#{reporttype},#{title})
 	</insert>
 	<resultMap type="ReportVO" id="reportMap">
 		<result column="respondMsg" property="rdVO.msg"/>
 		<result column="repondDbday" property="rdVO.dbday"/>
 		<result column="respond" property="rdVO.respond"/>
 		<result column="storename" property="subjectVO.svo.storename"/>
 	</resultMap>
 	<select id="reportDetailData" resultMap="reportMap" parameterType="hashMap">
 		<if test="state==1">
 			SELECT r.no,reporter,msg,image1,image2,image3,TO_CHAR(r.regdate,'yyyy-mm-dd') as dbday,state,reporttype 
 			 <if test="reporttype==1">
 			 ,subject,subphone,subaccount,storename
 			 </if>
 			FROM report r
 			<if test="reporttype==1">
 			, store s
 			</if>
 			WHERE r.no = #{no}
 			<if test="reporttype==1">
 			 AND subject = s.no
 			 </if>
 		</if>
 		<if test="state!=1">
 			SELECT r.no,reporter,r.msg ,image1,image2,image3,state,reporttype,rd.msg as respondMsg,TO_CHAR(r.regdate,'YYYY-MM-dd') as dbday,TO_CHAR(rd.regdate,'yyyy-mm-dd') as repondDbday,respond
 			 <if test="reporttype==1">
 			 ,subject,subphone,subaccount,storename
 			 </if>
 			FROM report r, respond rd
 			<if test="reporttype==1">
 			, store s
 			</if>
 			WHERE r.no = #{no} AND r.no = rd.no
 			<if test="reporttype==1">
 			 AND subject = s.no
 			 </if>
 		</if>
 	</select>
 	<resultMap type="ReportVO" id="adminReportMap">
 		<result property="reportVO.svo.storename" column="storename"/>
 	</resultMap>
 	<select id="reportAdminListData" resultMap="adminReportMap">
 		SELECT r.no,reporter,title,TO_CHAR(regdate,'yyyy-mm-dd') as dbday,state,reporttype,storename
 		FROM report r , store s
 		WHERE r.reporter = s.no
 		ORDER BY r.no DESC
 		OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
 	</select>
 </mapper>
